// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-cancel-name: 'icon-cancel';
$icon-cancel-x: 0px;
$icon-cancel-y: 0px;
$icon-cancel-offset-x: 0px;
$icon-cancel-offset-y: 0px;
$icon-cancel-width: 16px;
$icon-cancel-height: 16px;
$icon-cancel-total-width: 48px;
$icon-cancel-total-height: 32px;
$icon-cancel-image: '../img/sprite.png';
$icon-cancel: (0px, 0px, 0px, 0px, 16px, 16px, 48px, 32px, '../img/sprite.png', 'icon-cancel', );
$icon-check-name: 'icon-check';
$icon-check-x: 16px;
$icon-check-y: 0px;
$icon-check-offset-x: -16px;
$icon-check-offset-y: 0px;
$icon-check-width: 16px;
$icon-check-height: 16px;
$icon-check-total-width: 48px;
$icon-check-total-height: 32px;
$icon-check-image: '../img/sprite.png';
$icon-check: (16px, 0px, -16px, 0px, 16px, 16px, 48px, 32px, '../img/sprite.png', 'icon-check', );
$icon-ncheck-name: 'icon-ncheck';
$icon-ncheck-x: 0px;
$icon-ncheck-y: 16px;
$icon-ncheck-offset-x: 0px;
$icon-ncheck-offset-y: -16px;
$icon-ncheck-width: 16px;
$icon-ncheck-height: 16px;
$icon-ncheck-total-width: 48px;
$icon-ncheck-total-height: 32px;
$icon-ncheck-image: '../img/sprite.png';
$icon-ncheck: (0px, 16px, 0px, -16px, 16px, 16px, 48px, 32px, '../img/sprite.png', 'icon-ncheck', );
$icon-plus-name: 'icon-plus';
$icon-plus-x: 16px;
$icon-plus-y: 16px;
$icon-plus-offset-x: -16px;
$icon-plus-offset-y: -16px;
$icon-plus-width: 16px;
$icon-plus-height: 16px;
$icon-plus-total-width: 48px;
$icon-plus-total-height: 32px;
$icon-plus-image: '../img/sprite.png';
$icon-plus: (16px, 16px, -16px, -16px, 16px, 16px, 48px, 32px, '../img/sprite.png', 'icon-plus', );
$icon-settings-name: 'icon-settings';
$icon-settings-x: 32px;
$icon-settings-y: 0px;
$icon-settings-offset-x: -32px;
$icon-settings-offset-y: 0px;
$icon-settings-width: 16px;
$icon-settings-height: 16px;
$icon-settings-total-width: 48px;
$icon-settings-total-height: 32px;
$icon-settings-image: '../img/sprite.png';
$icon-settings: (32px, 0px, -32px, 0px, 16px, 16px, 48px, 32px, '../img/sprite.png', 'icon-settings', );
$icon-tool-name: 'icon-tool';
$icon-tool-x: 32px;
$icon-tool-y: 16px;
$icon-tool-offset-x: -32px;
$icon-tool-offset-y: -16px;
$icon-tool-width: 16px;
$icon-tool-height: 16px;
$icon-tool-total-width: 48px;
$icon-tool-total-height: 32px;
$icon-tool-image: '../img/sprite.png';
$icon-tool: (32px, 16px, -32px, -16px, 16px, 16px, 48px, 32px, '../img/sprite.png', 'icon-tool', );
$spritesheet-width: 48px;
$spritesheet-height: 32px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($icon-cancel, $icon-check, $icon-ncheck, $icon-plus, $icon-settings, $icon-tool, );
$spritesheet: (48px, 32px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
