#header {
  padding: 15px 0;
  color: #fff;
  margin-bottom: 30px;
  background-color: $colorA;

  .title {
    display: block;
    margin: 0;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
  }
}
