// COLOR VARIABLES
// -------------------------------------------------------------------------/
$colorA: #222533;
$colorB: #8BC34A;
$colorC: #ea5348;

// CROSS BROWSER MIXINS
// -------------------------------------------------------------------------/
@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  -o-transform: $transforms;
  transform: $transforms;
}

@mixin transition($transition: all 200ms ease) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin border-radius($radius: 3px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

// SCSS PARTIALS
// -------------------------------------------------------------------------/
@import "header";
@import "footer";

// MAIN STYLE
// -------------------------------------------------------------------------/

body {
  background-color: lighten($colorA, 10%);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari*/
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently                                  supported by Chrome and Opera */
}

i {
  display: block;
}

#content {
  .todo-content {
    background: #E2E4E6;
    @include box-shadow(1px 1px 3px 0 rgba(0, 0, 0, 0.20));
    @include border-radius();

    .todo-header {
      padding: 10px 15px;
      font-weight: 600;
      font-size: 20px;
    }

    .todo-list {
      padding: 0 10px;

      .item {
        position: relative;
        overflow: hidden;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
        padding: 10px;
        @include border-radius();
        @include transition(all 500ms);

        &.new {
          background-color: lighten($colorB, 30%);
        }

        &:first-child {
          display: none;
        }

        &:last-child {
          display: block;
          margin: 0;
        }

        input {
          display: none;

          & ~ .item-action {
            .icon-check {
              display: none
            }
          }

          &:checked {
            & ~ .item-action {
              .icon-check {
                display: inline-block;
              }

              .icon-ncheck {
                display: none;
              }

              .title {
                text-decoration: line-through;
                color: #888;
              }
            }

            & ~ .item-delete {
              @include transform(translateX(0));
            }

            & ~ p {
              text-decoration: line-through;
              color: #ccc;
            }
          }
        }

        .item-action {
          display: block;
          cursor: pointer;
          margin: 0;

          i {
            position: absolute;
            top: 13px;
          }

          .title {
            font-size: 18px;
            line-height: initial;
            font-weight: 400;
            padding-left: 20px;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            @extend .noselect;
          }
        }

        .item-delete {
          position: absolute;
          cursor: pointer;
          right: 0;
          top: 0;
          width: 15%;
          min-width: 45px;
          height: 100%;
          background: $colorC;
          @include transform(translateX(110%));
          @include transition();

          i {
            position: absolute;
            margin: auto;
            top: 50%;
            right: 0;
            left: 0;
            @include transform(translateY(-50%))
          }
        }

        p {
          color: #888;
          line-height: initial;
          font-size: 13px;
          margin: 5px 0 0 0;
        }

      }
    }

    .todo-add {
      padding: 10px;
      text-align: center;

      input.addForm {
        display: none;

        &:checked {
          & ~ label.form-show {
            display: none;
          }

          & ~ .form {
            display: block;
          }
        }
      }

      .form {
        display: none;
        position: relative;
        overflow: hidden;
        text-align: left;
        font-size: 0;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
        padding: 10px;
        @include border-radius();

        label {
          display: block;

          input, textarea {
            display: block;
            width: 100%;
            padding: 5px;
            border: solid 1px #eee;
            font-size: 14px;
            font-weight: normal;
            @include border-radius();

            &:focus {
              outline: none;
            }
          }

          textarea {
            resize: none;
            height: 50px;
          }

          &.form-add,
          &.form-hide {
            display: inline-block;
            text-align: center;
            line-height: 34px;
            padding: 0 10px;
            margin: 0 5px 5px 0;
            cursor: pointer;
            color: #fff;
            font-weight: normal;
            @include border-radius();

            * {
              display: inline-block;
              vertical-align: middle;
              margin: 0 5px;
              font-size: 14px;
              font-weight: 400;
            }
          }

          &.form-add {
            background-color: $colorB;
            border-bottom: 1px solid darken($colorB, 10%);
          }
          &.form-hide {
            background-color: $colorC;
            border-bottom: 1px solid darken($colorC, 10%);
          }

        }

      }

      label.form-show {
        display: inline-block;
        text-align: center;
        line-height: 34px;
        padding: 0 10px;
        background-color: lighten($colorA, 10%);
        border-bottom: solid 1px lighten($colorA, 5%);
        cursor: pointer;
        color: #fff;
        font-weight: normal;
        margin: 0;
        @include border-radius();

        * {
          display: inline-block;
          vertical-align: middle;
          margin: 0 5px;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}